
/* General page themes */

html {
  font-family: Fira Code,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

header {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  margin-top: 10%;
}

/* Main Body Themes */

#home {
  align-items: flex-start;
}

.nav-links {
  background-color: black;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links:hover {
  background-color: #555;
}

.main-wrap {
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}



.bottom-text {
  margin-bottom: 3%;
}

/* Footer Themes */


